.About-profile {
  padding-left: 0;
  height: 100%;
}

.About-profile-name {
  color: white;
  text-align: center;
}

.About-seperator {
  border-top: 1px solid #7df9ff;
  width: 100%;
  height: 5px;
  margin-bottom: 5px;
}

.About-skills {
  color: white;
  padding-left: 0;
}

.About-skills-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.About-skills-row > h4 {
  margin-bottom: 0 !important;
}

.About-bar-border {
  border: 2px solid #7df9ff;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-left: auto;
}

.About-bar-filled {
  background: #7df9ff;
  height: 100%;
}

.About-bar-percent {
  margin: 0;
  margin-left: auto;
}
