.About-basic-info {
  height: 100%;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.About-basic-info-image {
  max-width: 100%;
  max-height: 80%;
  height: auto;
}

.About-basic-info-text {
  color: white;
  text-align: center;
  /* font-size: 1rem;
  line-height: 1rem; */
  /* position: absolute; */
}

.About-skills {
  width: 50%;
  height: 100%;
  color: white;
}

table {
  table-layout: fixed;
  width: 100%;
}

th,
td {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
  text-align: left;
  font-size: 1rem;
  text-align: center;
  color: white;
}

th {
  color: #7df9ff;
}
