.Experience {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Experience-card-detail-title-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Experience-title {
  color: rgb(205, 199, 188);
}

.Experience-card-detail-title {
  margin: 0;
}

.Experience-card-detail-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Experience-main-card {
  width: 40%;
  height: 100%;
  border: 2px solid #7df9ff;
  border-radius: 5px;
  margin-right: 2%;
  position: relative;
}

.Experience-card-title {
  margin: 0.5em 1em;
}

.Experience-sub-div {
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.Experience-sub-card {
  width: 45%;
  height: 45%;
  border: 2px solid #7df9ff;
  border-radius: 5px;
  margin: 1%;
  font-size: 0.9rem;
  position: relative;
}

.Experience-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: rgba(43, 83, 129, 0.5);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Experience-overlay-button {
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}
