.Experience {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Experience-container {
  height: auto;
}

.Experience-card-detail-title-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Experience-title {
  color: rgb(205, 199, 188);
}

.Experience-card-detail-title {
  margin: 0;
}

.Experience-card-detail-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Experience-main-card {
  width: 40%;
  height: 100%;
  border: 2px solid #7df9ff;
  border-radius: 5px;
  /* margin-right: 2%; */
  position: relative;
}

.Experience-card-title {
  margin: 0.5em 1em;
  text-align: center;
}

.Experience-card-image {
  height: 30%;
  width: auto;
}

.Experience-sub-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.Experience-sub-card {
  width: 30%;
  border: 2px solid #7df9ff;
  border-radius: 5px;
  font-size: 0.9rem;
  position: relative;
  margin-bottom: 2%;
}

.Experience-sub-card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.Experience-sub-card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Experience-sub-card-content > h4 {
  font-size: 1.2rem;
}

.Experience-ribbon {
  margin: 0;
  padding: 0;
  background: #7df9ff;
  color: black;
  padding: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-30%) translateY(0%) rotate(-45deg);
  transform-origin: top right;
  /* font-weight: bold; */
}

.Experience-ribbon:before,
.Experience-ribbon:after {
  content: '';
  position: absolute;
  top: 0;
  margin: 0 -1px; /* tweak */
  width: 300%;
  height: 100%;
  background: #7df9ff;
}

.Experience-ribbon:before {
  left:100%;
}

.Experience-ribbon:after {
  right:100%;
}

.Experience-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: rgba(43, 83, 129, 0.5);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Experience-overlay-button {
  color: white;
  border: 1px solid #7df9ff;
  border-radius: 3px;
  padding: 5px;
  background: rgba(43, 83, 129, 1);
}

.Experience-overlay-button:hover {
  text-decoration: none;
  color: black;
  background: #7df9ff;
}

.Experience-empty {
  flex-grow: 0.75;
}

@media (max-width: 767.98px) {
  .Experience-sub-div {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .Experience-sub-card {
    width: 100%;
  }
}